My first concern is finding the "apply" link on all the relevant pages. There's substantial heterogeneity in what the links look like, both visually and in the HTML.

What I'm wondering is if we can come up with a selector that will correctly find the apply button on "enough" of the pages that we can just ignore the rest. Another possibility is that the links themselves are consistent enough that we can just look at all `a`s and do it based on `href` value. Let's have a look.

In [36]:
import pandas as pd
from lxml import html
import requests

In [37]:
df = pd.read_csv("dataset.csv")

In [111]:
# just for faster exploration
small_df = df[1:100]
small_df
full_df = df
df = small_df

First, we need to fetch the actual HTML of the page for each job.

In [112]:
resps = [requests.get(link) for link in df.link]

In [134]:
def has_monster_apply_button(page):
    "as opposed to an external apply button"
    maybe_btn = page.cssselect(".btn-apply")
    if maybe_btn:
        btn = maybe_btn[0]
        return bool(btn.get("href"))
    else:
        return False

In [135]:
df.loc[:,"page"] = [r.text for r in resps]
df.loc[:,"actual_link"] = [r.request.path_url for r in resps]
# a posting is usable if:
#  1. its part of the "v2" system on monster, which has a more standard, reasonable page structure
#  2. its not expired
#  3. its of the sort you can apply to on monster, and not an external system 
df.loc[:,"usable"] = (df["actual_link"].str.contains("v2") &
                      ~df["actual_link"].str.contains("Expired") &
                      [has_monster_apply_button(html.fromstring(p)) for p in df["page"]])

In [136]:
df

,city,applied?,full,addresses,title,company,resumes,colleges,link,location,lastnames,firstnames,type,original_link,zipcodes,actual_link,page,usable
2,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[1, 12, 4, 8]",\n\nSeasonal Holiday Retail Sales Jewelry Cler...,\nMacys\n,"[1, 3, 0, 2]","[1, 0, 2, 3]",http://jobview.monster.com/seasonal-holiday-re...,"\n\n\nWayne\n ,NJ\n\n","[1, 0, 6, 4]","[4, 6, 3, 9]",clerical,http://jobview.monster.com/seasonal-holiday-re...,"[10, 3, 13, 11]",/seasonal-holiday-retail-sales-jewelry-clerica...,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",False
3,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[7, 6, 12, 17]",\n\nLaboratory Clerical Associate\n\n,\nSovereign Medical Services\n,"[5, 2, 1, 4]","[3, 0, 2, 1]",http://jobview.monster.com/laboratory-clerical...,"\n\n\nFair Lawn\n ,NJ\n\n\n","[2, 6, 7, 9]","[6, 3, 7, 5]",clerical,http://jobview.monster.com/laboratory-clerical...,"[14, 10, 0, 1]",/v2/job/View?JobID=174742599,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,False
4,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[0, 15, 11, 14]",\n\nTemporary Clerical professionals\n\n,\nCompany Confidential\n,"[6, 3, 5, 1]","[2, 3, 0, 1]",http://jobview.monster.com/temporary-clerical-...,"\n\n\nBrooklyn\n ,NY\n\n","[3, 8, 9, 4]","[0, 1, 6, 7]",clerical,http://jobview.monster.com/temporary-clerical-...,"[13, 12, 8, 0]",/v2/job/View?JobID=173095192,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
5,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[2, 6, 11, 13]",\n\nAttendance Coordinator -(Clerical) part ti...,"\nPremier Home Health Care Services, Inc\n","[5, 4, 6, 0]","[3, 2, 0, 1]",http://jobview.monster.com/attendance-coordina...,"\n\n\nNew York City\n ,NY\n\n\n","[1, 4, 5, 0]","[1, 2, 0, 6]",clerical,http://jobview.monster.com/attendance-coordina...,"[7, 16, 2, 12]",/v2/job/View?JobID=175551323,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
6,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[10, 13, 9, 1]",\n\nOffice/Bookkeeper Clerk\n\n,\nCiampa Management\n,"[4, 3, 6, 0]","[1, 0, 3, 2]",http://jobview.monster.com/office-bookkeeper-c...,"\n\n\nFlushing\n ,NY\n\n\n","[7, 8, 5, 3]","[0, 9, 8, 7]",clerical,http://jobview.monster.com/office-bookkeeper-c...,"[2, 4, 6, 7]",/v2/job/View?JobID=175927606,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
7,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[4, 17, 14, 13]",\n\nOffice Clerk\n\n,"\nInter American Cosmetics, Inc.\n","[7, 2, 0, 6]","[3, 0, 2, 1]",http://jobview.monster.com/office-clerk-job-lo...,"\n\n\nLodi\n ,NJ\n\n\n","[8, 0, 1, 7]","[3, 6, 9, 0]",clerical,http://jobview.monster.com/office-clerk-job-lo...,"[18, 14, 0, 3]",/v2/job/View?JobID=172842490,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
8,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[17, 7, 9, 8]",\n\nBD-13478 - Accounting Clerk 2 Position in ...,"\nPROGRAMMER RESOURCES INTERNATIONAL, INC\n","[6, 1, 3, 0]","[0, 2, 1, 3]",http://jobview.monster.com/bd-13478-accounting...,"\n\n\nFranklin Lakes\n ,NJ\n\n\n","[1, 4, 3, 7]","[9, 3, 0, 2]",clerical,http://jobview.monster.com/bd-13478-accounting...,"[13, 6, 12, 9]",/v2/job/View?JobID=175740073,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
9,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[2, 9, 17, 11]",\n\nBuyer Clerical\n\n,"\nRainbow USA, Inc\n","[7, 3, 0, 6]","[3, 2, 0, 1]",http://jobview.monster.com/buyer-clerical-job-...,"\n\n\nBrooklyn\n ,NY\n\n\n","[7, 8, 5, 9]","[5, 7, 0, 9]",clerical,http://jobview.monster.com/buyer-clerical-job-...,"[2, 10, 6, 16]",/v2/job/View?JobID=175788974,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
10,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[12, 0, 14, 13]",\n\nAdministrative/Clerical Assistant AA2136-1...,\nThe Cambridge Don\n,"[2, 6, 4, 5]","[1, 0, 2, 3]",http://jobview.monster.com/administrative-cler...,"\n\n\nNew York City\n ,NY\n\n","[8, 6, 3, 0]","[7, 2, 5, 6]",clerical,http://jobview.monster.com/administrative-cler...,"[7, 4, 9, 10]",/v2/job/Expired?JobID=175391943,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,False
11,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[1, 5, 15, 14]",\n\nCourt Clerk\n\n,\nMeridian Legal Search\n,"[0, 2, 3, 6]","[0, 3, 1, 2]",http://jobview.monster.com/court-clerk-job-new...,"\n\n\nNew York City\n ,NY\n\n\n","[9, 0, 6, 4]","[3, 2, 8, 4]",clerical,http://jobview.monster.com/court-clerk-job-new...,"[5, 0, 17, 13]",/v2/job/View?JobID=174845421,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
12,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[15, 16, 3, 18]",\n\nAdministrative Clerk/Receptionist\n\n,\nTMI Trading Corp\n,"[1, 2, 3, 0]","[3, 0, 1, 2]",http://jobview.monster.com/administrative-cler...,"\n\n\nBrooklyn\n ,NY\n\n\n","[1, 4, 9, 8]","[1, 0, 8, 7]",clerical,http://jobview.monster.com/administrative-cler...,"[16, 8, 13, 14]",/v2/job/View?JobID=170347801,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
13,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[13, 4, 18, 0]",\n\nParalegal II / Criminal Clerks Unit Recept...,\nForfeiture Support Associates\n,"[4, 7, 1, 3]","[0, 1, 2, 3]",http://jobview.monster.com/paralegal-ii-crimin...,"\n\n\nNew York\n ,NY\n\n\n","[1, 6, 0, 9]","[3, 2, 6, 5]",clerical,http://jobview.monster.com/paralegal-ii-crimin...,"[8, 1, 5, 10]",/paralegal-ii-criminal-clerks-unit-receptionis...,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",False
14,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[3, 1, 9, 13]",\n\nAccounts Receivable Clerk\n\n,\nUS Globe Corp\n,"[1, 0, 2, 7]","[2, 0, 1, 3]",http://jobview.monster.com/accounts-receivable...,"\n\n\nGarden City Park\n ,NY\n\n\n","[0, 4, 1, 6]","[3, 9, 6, 5]",clerical,http://jobview.monster.com/accounts-receivable...,"[12, 11, 17, 1]",/v2/job/View?JobID=168708790,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
15,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[3, 17, 8, 2]",\n\nAccounts Receivable Clerk\n\n,\nPort Logistics Group\n,"[1, 6, 2, 5]","[3, 2, 0, 1]",http://jobview.monster.com/accounts-receivable...,"\n\n\nClifton\n ,NJ\n\n\n","[4, 8, 0, 5]","[8, 2, 3, 6]",clerical,http://jobview.monster.com/accounts-receivable...,"[13, 11, 6, 17]",/accounts-receivable-clerk-job-clifton-nj-us-1...,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",False
16,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[16, 14, 12, 6]",\n\nAccounts Payable Clerk\n\n,\nNauticus Group\n,"[5, 0, 2, 1]","[2, 0, 1, 3]",http://jobview.monster.com/accounts-payable-cl...,"\n\n\nSpringfield\n ,NJ\n\n","[5, 6, 0, 7]","[6, 0, 2, 3]",clerical,http://jobview.monster.com/accounts-payable-cl...,"[17, 4, 8, 14]",/v2/job/View?JobID=112321888,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
17,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[3, 13, 17, 15]",\n\nLegal Department Clerk\n\n,\nCaresoft Inc.\n,"[4, 2, 7, 0]","[2, 1, 0, 3]",http://jobview.monster.com/legal-department-cl...,"\n\n\nWestwood\n ,NJ\n\n\n","[5, 4, 1, 7]","[9, 0, 2, 6]",clerical,http://jobview.monster.com/legal-department-cl...,"[8, 2, 14, 3]",/v2/job/View?JobID=174897132,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
18,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[10, 11, 16, 9]",\n\nAccounting Clerk\n\n,\nMedSource National\n,"[0, 5, 3, 2]","[1, 2, 0, 3]",http://jobview.monster.com/accounting-clerk-jo...,"\n\n\nGarden City\n ,NY\n\n\n","[0, 5, 9, 7]","[0, 9, 7, 1]",clerical,http://jobview.monster.com/accounting-clerk-jo...,"[3, 18, 15, 12]",/v2/job/View?JobID=157958403,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
19,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[1, 7, 6, 11]",\n\nStockroom Clerk\n\n,\nMercury Systems\n,"[4, 3, 1, 2]","[3, 0, 1, 2]",http://jobview.monster.com/stockroom-clerk-job...,"\n\n\nWest Caldwell\n ,NJ\n\n","[3, 4, 7, 1]","[3, 8, 7, 0]",clerical,http://jobview.monster.com/stockroom-clerk-job...,"[13, 3, 4, 6]",/v2/job/View?JobID=174086400,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,False
20,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[6, 8, 11, 17]",\n\nAccounts Receivable Clerk\n\n,\nParagon Acura\n,"[3, 2, 7, 0]","[3, 2, 0, 1]",http://jobview.monster.com/accounts-receivable...,"\n\n\nFlushing\n ,NY\n\n\n","[1, 4, 9, 0]","[5, 7, 3, 9]",clerical,http://jobview.monster.com/accounts-receivable...,"[14, 3, 11, 17]",/v2/job/View?JobID=174890890,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
21,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[6, 17, 3, 4]",\n\nPharmacy Clerk\n\n,"\nCentral Admixture Pharmacy Services, Inc.\n","[0, 4, 2, 3]","[3, 0, 1, 2]",http://jobview.monster.com/pharmacy-clerk-job-...,"\n\n\nEnglewood\n ,NJ\n\n\n","[9, 3, 4, 5]","[9, 0, 5, 7]",clerical,http://jobview.monster.com/pharmacy-clerk-job-...,"[14, 6, 4, 2]",/v2/job/View?JobID=175904267,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,False
22,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[7, 1, 13, 16]",\n\nAccounts Payable Clerk\n\n,\nMarcum Search LLC\n,"[7, 6, 0, 3]","[0, 2, 3, 1]",http://jobview.monster.com/accounts-payable-cl...,"\n\n\nNew Hyde Park\n ,NY\n\n","[4, 8, 1, 6]","[4, 9, 5, 1]",clerical,http://jobview.monster.com/accounts-payable-cl...,"[17, 14, 3, 9]",/v2/job/View?JobID=175996032,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
23,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[7, 11, 13, 5]",\n\nACCOUNTS RECEIVABLE CLERK\n\n,"\nTime Equities, Inc.\n","[4, 5, 1, 6]","[3, 1, 0, 2]",http://jobview.monster.com/accounts-receivable...,"\n\n\nNew York\n ,NY\n\n\n","[6, 1, 3, 8]","[1, 6, 7, 3]",clerical,http://jobview.monster.com/accounts-receivable...,"[4, 5, 3, 10]",/v2/job/View?JobID=175451036,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
24,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[10, 5, 17, 13]",\n\nAccounting Clerk\n\n,\nLet it Grow Inc\n,"[3, 0, 2, 4]","[1, 2, 3, 0]",http://jobview.monster.com/accounting-clerk-jo...,"\n\n\nRiver Edge\n ,NJ\n\n\n","[5, 1, 8, 9]","[3, 5, 2, 6]",clerical,http://jobview.monster.com/accounting-clerk-jo...,"[18, 5, 13, 0]",/v2/job/View?JobID=173537873,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
25,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[4, 14, 18, 16]",\n\nRoute Accounting Clerk\n\n,\nManhattan Beer Distributors\n,"[3, 2, 0, 4]","[1, 0, 2, 3]",http://jobview.monster.com/route-accounting-cl...,"\n\n\nNew York\n ,NY\n\n","[8, 5, 7, 2]","[6, 1, 7, 4]",clerical,http://jobview.monster.com/route-accounting-cl...,"[5, 3, 12, 9]",/v2/job/View?JobID=174846977,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
26,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[3, 8, 15, 16]",\n\nAccounting Clerk\n\n,\nCatholic Cemeteries\n,"[0, 6, 2, 3]","[0, 3, 1, 2]",http://jobview.monster.com/accounting-clerk-jo...,"\n\n\nMiddle Village\n ,NY\n\n\n","[4, 2, 3, 6]","[8, 7, 4, 5]",clerical,http://jobview.monster.com/accounting-clerk-jo...,"[12, 7, 9, 14]",/v2/job/View?JobID=175328613,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
27,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[10, 0, 13, 16]",\n\nAssistant Managing Clerk\n\n,\nNoor Associates\n,"[0, 7, 3, 1]","[3, 0, 1, 2]",http://jobview.monster.com/assistant-managing-...,"\n\n\nManhattan\n ,NY\n\n\n","[0, 5, 3, 2]","[8, 4, 3, 9]",clerical,http://jobview.monster.com/assistant-managing-...,"[7, 0, 2, 8]",/v2/job/Expired?JobID=174342201,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,False
28,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[0, 3, 7, 2]",\n\nHealth Information Management Medical Reco...,\nThe Floating Hospital\n,"[6, 7, 0, 4]","[0, 1, 3, 2]",http://jobview.monster.com/health-information-...,"\n\n\nBronx\n ,NY\n\n\n","[9, 2, 1, 8]","[6, 7, 8, 5]",clerical,http://jobview.monster.com/health-information-...,"[10, 16, 2, 3]",/health-information-management-medical-records...,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",False
29,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[12, 17, 18, 8]",\n\nInvestor Services Data Entry Clerk - Cranf...,\nSS&C Technologies\n,"[3, 4, 7, 1]","[0, 1, 3, 2]",http://jobview.monster.com/investor-services-d...,"\n\n\nCranford\n ,NJ\n\n","[4, 6, 7, 5]","[5, 0, 3, 1]",clerical,http://jobview.monster.com/investor-services-d...,"[5, 16, 8, 1]",/v2/job/View?JobID=176265548,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
30,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[17, 10, 0, 16]",\n\nAccounting Clerk\n\n,"\nHealth Plus Management, LLC\n","[0, 3, 6, 7]","[3, 0, 1, 2]",http://jobview.monster.com/accounting-clerk-jo...,"\n\n\nGarden City\n ,NY\n\n\n","[4, 3, 5, 2]","[4, 2, 9, 7]",clerical,http://jobview.monster.com/accounting-clerk-jo...,"[10, 12, 1, 18]",/v2/job/View?JobID=173968804,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
31,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[2, 6, 7, 0]",\n\nBilling Clerk/Medical\n\n,\nTunstall\n,"[2, 3, 6, 7]","[0, 2, 1, 3]",http://jobview.monster.com/billing-clerk-medic...,"\n\n\nLong Island City\n ,NY\n\n\n","[6, 9, 2, 5]","[6, 8, 9, 2]",clerical,http://jobview.monster.com/billing-clerk-medic...,"[1, 15, 12, 11]",/v2/job/View?JobID=176031202,<!DOCTYPE html>\r\n\r\n\r\n\r\n<html>\r\n<head...,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[18, 13, 9, 14]",\n\nFull Time Data Entry Clerk\n\n,\nASAPIT Consulting\n,"[6, 3, 1, 2]","[3, 2, 1, 0]",http://job-openings.monster.com/monster/729849...,"\n\n\nNew York\n ,NY\n\n\n","[1, 0, 2, 6]","[3, 7, 9, 0]",clerical,http://job-openings.monster.com/monster/729849...,"[9, 14, 5, 1]",/jobs/asapit-consulting-06c667cf/full-time-dat...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
71,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[15, 17, 14, 3]",\n\nConstruction Plan Clerk / Assistant Estima...,"\nB. R.Fries & Associates, LLC.\n","[2, 7, 6, 4]","[0, 2, 1, 3]",http://job-openings.monster.com/monster/1d8540...,"\n\n\nNew York\n ,NY\n\n\n","[1, 5, 3, 9]","[7, 2, 9, 5]",clerical,http://job-openings.monster.com/monster/1d8540...,"[15, 12, 10, 1]",/jobs/b-r-fries-associates-llc-fa3bc1d8/constr...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
72,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[3, 8, 15, 2]",\n\nAccounting Clerk\n\n,\nDouglaston Development (affiliate of Levine ...,"[0, 7, 3, 5]","[3, 1, 2, 0]",http://job-openings.monster.com/monster/a8c965...,"\n\n\nDouglaston\n ,NY\n\n\n","[7, 6, 3, 5]","[8, 2, 4, 5]",clerical,http://job-openings.monster.com/monster/a8c965...,"[10, 4, 7, 3]",/jobs/douglaston-development-affiliate-of-levi...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
73,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[9, 7, 2, 4]",\n\nManheim Skyline- Part Time Block Clerk\n\n,\nCox Automotive\n,"[7, 1, 3, 0]","[0, 2, 1, 3]",http://job-openings.monster.com/monster/eff1e8...,"\n\n\nFairfield\n ,NJ\n\n\n","[3, 9, 8, 2]","[6, 5, 8, 9]",clerical,http://job-openings.monster.com/monster/eff1e8...,"[7, 6, 14, 17]",/jobs/search?id=363080711&fjda=1,"\r\n<!DOCTYPE html>\r\n<html lang=""en"" ng-app=...",False
74,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[10, 14, 4, 1]",\n\nCalendar Clerk\n\n,"\nEltman Law, P.C.\n","[3, 4, 5, 7]","[2, 0, 1, 3]",http://job-openings.monster.com/monster/dd7931...,"\n\n\nJersey City\n ,NJ\n\n\n","[9, 8, 0, 5]","[2, 1, 9, 3]",clerical,http://job-openings.monster.com/monster/dd7931...,"[3, 18, 16, 7]",/jobs/eltman-law-p-c-16e0abfe/calendar-clerk-7...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
75,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[2, 13, 10, 15]",\n\nShipping Clerk\n\n,\nConfidential\n,"[5, 1, 4, 0]","[2, 1, 0, 3]",http://job-openings.monster.com/monster/454a65...,"\n\n\nEdison\n ,NJ\n\n\n","[8, 2, 1, 3]","[4, 6, 0, 3]",clerical,http://job-openings.monster.com/monster/454a65...,"[10, 18, 12, 5]",/jobs/confidential-26c7b262/shipping-clerk-4a9...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
76,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[6, 8, 12, 11]",\n\nShipping Clerk\n\n,\nSnow Joe + Sun Joe\n,"[4, 3, 2, 7]","[3, 1, 0, 2]",http://job-openings.monster.com/monster/448aa9...,"\n\n\nCarlstadt\n ,NJ\n\n\n","[2, 0, 3, 4]","[4, 5, 8, 0]",clerical,http://job-openings.monster.com/monster/448aa9...,"[13, 16, 2, 5]",/jobs/snow-joe-sun-joe-11d8d030/shipping-clerk...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
77,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[14, 18, 15, 10]",\n\nMedical Records Clerk\n\n,\nStat Imaging Solutions\n,"[6, 3, 5, 2]","[2, 0, 1, 3]",http://job-openings.monster.com/monster/f09f10...,"\n\n\nHackensack\n ,NJ\n\n\n","[0, 4, 3, 5]","[6, 9, 8, 4]",clerical,http://job-openings.monster.com/monster/f09f10...,"[2, 10, 14, 5]",/jobs/search?id=392472991&aff=FCE5C16E-79AD-4B...,"\r\n<!DOCTYPE html>\r\n<html lang=""en"" ng-app=...",False
78,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[11, 10, 2, 8]",\n\nAccounts Payable Clerk\n\n,\n451 Research\n,"[4, 7, 0, 2]","[2, 0, 1, 3]",http://job-openings.monster.com/monster/abc1ef...,"\n\n\nNew York\n ,NY\n\n\n","[3, 7, 4, 2]","[3, 6, 8, 7]",clerical,http://job-openings.monster.com/monster/abc1ef...,"[3, 16, 14, 15]",/jobs/451-research-26d07c00/accounts-payable-c...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
79,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[0, 10, 11, 1]",\n\nLegal File Clerk 11-15-16\n\n,\nPark & Associates\n,"[3, 4, 5, 7]","[2, 0, 3, 1]",http://job-openings.monster.com/monster/be9b8c...,"\n\n\nFlorham Park\n ,NJ\n\n\n","[4, 9, 5, 2]","[1, 5, 4, 9]",clerical,http://job-openings.monster.com/monster/be9b8c...,"[0, 18, 1, 17]",/jobs/park-associates-fadf9391/legal-file-cler...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
80,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[7, 15, 16, 4]",\n\nThrift Store Clerk\n\n,\nABM\n,"[4, 6, 1, 5]","[2, 1, 3, 0]",http://job-openings.monster.com/monster/71d2ca...,"\n\n\nQueens\n ,NY\n\n\n","[6, 9, 8, 5]","[7, 4, 1, 5]",clerical,http://job-openings.monster.com/monster/71d2ca...,"[17, 5, 8, 9]",/jobs/abm-e74c2180/thrift-store-clerk-caf56e63...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
81,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[2, 6, 3, 4]",\n\nMedical Records Clerk\n\n,\nTomkiel & Tomkiel\n,"[6, 3, 2, 1]","[2, 1, 0, 3]",http://job-openings.monster.com/monster/1ce9ab...,"\n\n\nScarsdale\n ,NY\n\n\n","[5, 4, 0, 8]","[3, 8, 2, 1]",clerical,http://job-openings.monster.com/monster/1ce9ab...,"[3, 5, 11, 7]",/jobs/tomkiel-tomkiel-73497cc8/medical-records...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False
82,New York,0,"<article class=""js_result_row"" itemscope="""" it...","[12, 6, 0, 10]",\n\nAssistant Managing Clerk - International L...,"\nNadine Bocelli & Company, Inc. - New York Le...","[5, 3, 6, 7]","[1, 0, 2, 3]",http://job-openings.monster.com/monster/de6b90...,"\n\n\nNew York\n ,NY\n\n\n","[9, 8, 5, 3]","[6, 2, 7, 8]",clerical,http://job-openings.monster.com/monster/de6b90...,"[4, 12, 7, 14]",/jobs/nadine-bocelli-company-inc-new-york-lega...,<!doctype html>\n<!--[if lt IE 7]> <html ...,False